#snd-cover {
  height: 70%;
  background-size: 600px 500px !important;
  background: url(../img/snd/sndcover.png) center center fixed;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: #9fd258 !important;
}

ol > li::before {
  background-color: #9fd258 !important;
}

.hero {
  background: url(../img/snd/sndcover1.png);
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.snd-h2 {
  font-size: 30px;
  padding-top: 7%;
}

.project-text > ul {
  list-style: initial;
}

.quote {
  border-left: 1px solid #455363;
  margin: 2rem 0;
  padding: 0 2rem;
}

.comp-analysis {
  background-color: inherit;
}

.userpersona {
  padding: 0;
}

.wireframe-section {
  background-color: white;
}

.icon {
  height: inherit;
  padding-bottom: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .hero {
    height: 38%;
    background-size: 700px auto;
  }

  .icon {
    height: 70%;

  }

  .widget h5 {
    line-height: normal;
  }

  .project-text > ul {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .problem-content-snd {
    width: 300px;
    margin: auto;
  }

  .img-landing-snd {
    padding-top: 1rem;
    width: 300px;
  }

  .img-usecase {
    width: 300px;
  }

  .img-wf-snd {
    width: 300px;
  }


    .sndfinal-1 {
      width: 300px;
      box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
      margin-bottom: 2rem;
    }

    .sndfinal-2 {
      width: 300px;
      box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
      margin-bottom: 2rem;
    }

    .sndfinal-3 {
      width: 250px;
      box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
      margin-bottom: 2rem;
      display: block;
      margin: 0 auto;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .project-text > ul {
    padding: 0 3rem;
  }

  .project-text > li {
    line-height: 35px;

  }

  .problem-content-snd {
    width: 540px;
  }

  .img-landing-snd {
    padding-top: 2rem;
    width: 540px;
    display: block;
    margin: auto;
  }

  .img-usecase {
    width: 540px;
  }

  .img-wf-snd {
    width: 90%;
  }

  .sndfinal-1 {
    width: 540px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    margin-bottom: 2rem;
  }

  .sndfinal-2 {
    width: 540px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    margin-bottom: 2rem;
  }

  .sndfinal-3 {
    width: 300px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    margin-bottom: 2rem;
    display: block;
    margin: 0 auto;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 992px) {
  .problem-content-snd {
    width: 800px;
  }

  .img-landing-snd {
    width: 800px;
  }

  .img-usecase {
    width: 800px;
  }

  .img-wf-snd {
    max-width: 1100px;
  }

  .sndfinal-1 {
    width: 45%;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);

  }

  .sndfinal-2 {
    width: 60%;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    margin-bottom: 2rem;
  }

  .sndfinal-3 {
    width: 20%;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    margin-bottom: 2rem;
    display: block;
    margin: 0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
