html,
body,
header,
#intro {
  height: 100%;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  /* font-family: 'Varela Round', sans-serif !important; */
  /* font-family: 'Nunito Sans', sans-serif !important; */
  font-family: 'DM Sans', sans-serif;
}

body {
  font-weight: 300 !important;
  width: 100%;
  min-height: 100%;
  margin: 0;
  color: #455363;
}

*,::after, ::before {
  box-sizing: border-box;
}

a {
  color: #3d8be4;
}

#intro {
  height: 75%;
  /* background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#notely {
  height: 100%;
  background: url('../img/cover.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#work {
  height: 100%;
}

h1 {

}

h2 {

}

h3 {
  font-size: 34px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h4 {

}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
}

button {
  cursor: pointer;
}

.main-button {
  display: block;
  margin: 20px auto;
}

.btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  border: 0;
  border-radius: .125rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  padding: .84rem 2.14rem;
  font-size: .81rem;
}

.btn-primary {
  background-color: #585BD2;
  color: white;
}

/* NAVIGATION  */
.navbar {
  box-shadow: none !important
  font-weight: 300;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.nav-link {
  margin-left: 30px;
  color: #455363;
  transition: .35s;
}

.mobile {
  display: none;
}

.navbar-nav {
  flex-direction: row;
}

.navbar > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

.navbar-brand {
  color: rgba(0,0,0,.9);
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand img {
  width: 50px;
  padding-right: 3px;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  cursor:p pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  vertical-align: middle;
  padding-top: 26px;
}

.nav-item {
  font-family: 'DM Sans', sans-serif !important;
}


.mr-auto {
  margin-right: auto !important;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}



/* MAKING FIXED NAV */
/* .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 99;
} */

.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.container-intro {
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 900px;
  padding: 0 3rem;
  margin-right: auto;
  margin-left: auto;
}

.row-intro {
  width: 100%;
  justify-content: center;
  display: inline-grid;
  margin-left: -15px;
  margin-right: -15px;
}


.heading {
  margin-bottom: .5rem !important;
  padding-top: 3rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;

}

.my-4 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 300;
  line-height: 35px;
  text-align: left;
  width: 70%;
}

.my-4 a {
  text-decoration: underline;
}
.mask-intro {
  background-color: white;
}



.see-work {
  display: inline-grid;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin: auto;
}

.see-work a, .see-work i {
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.work {
  background-color: #F6F8FC;
  padding: 5rem 0;
}

.main-container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 2rem;
}

.work-container {
  display: flex;
  flex-grow: 1;
  height: 340px;
  width: 100%;
  margin-bottom: 5rem;
  transition: all 0.4s ease;
}
.work-container:hover {
  box-shadow: 0 10px 20px #bfbfbf;
  transform: translate(0, -5px);

}
.work-preview {
  flex-basis: 50%;
  flex-shrink: 0;
  position: relative;
}

.work-container .work-preview img {
  object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.work-details {
  padding: 3rem;
  box-sizing: border-box;
  background-color: white;
}

.year {
  color: #7D7D80;
  font-size: 14px;
  letter-spacing: 1;
  margin-bottom: 3rem;
}

.work-title {
  color: #333;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 600;

}

.work-subtitle {
  color: #646466;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

.work-body {
  color: #646466;
  line-height: 24px;
}







.mask-notely {
  height: 100%;
}

.width {
  width: 900px;
}

.btn-primary {
  background-color: #585BD2 !important;
}

header {
  justify-content: center;
  text-align: center;
  /* margin-top: 64px !important; */
}


.footer {
  background-color: white;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  z-index: 1;
}

footer.footer > ul {
  margin: auto;
}

.footer-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-ul {
  text-align: center;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: .5rem;
}

.footer-li {
  margin-right: .5rem;
  margin-bottom: 1rem;
  display: inline-block;
  list-style: none;
}

.social {
  color: inherit;
  text-decoration: none;
  margin-left: .25rem !important;
}

.cc {
  text-align: center;
  padding-bottom: 3rem;
}


.nav-items li {
  float: right;
  padding: 20px 2%;
}

.nav-items a {
  color: #F3E8CB;
}

.main-button {
  display: block;
  margin: 3rem auto;
}


/* NOTELY */

.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.view h3 {
  line-height: 26px;
}

.title {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.2;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  color: #333;
}


.chapter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5rem auto 5rem 5rem;
  padding-top: 5rem;
}

.chapter-title {
  margin-right: 50px;
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
}

.leaf {
  height: 40px;
  margin: 0 10px;
}

.discovery {
  background-color: #F6F8FC;
  padding-top: 1rem;
}

.finalsol {
  margin: 2rem auto;
}
.img-responsive {
  width: 55%;
  position: relative;
  display: block;
}

.img-landing {
  width: 40%;
  margin-right: 5rem;
  margin-top: 5rem;
  position: absolute;
  display: block;
  right: 1rem;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
}

.img-persona {
  display: inline-block;
  width: 40%;
  margin: 40px auto;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
}

.img-container {
  text-align: center;
}

.img-comp {
  width: 27%;
  margin: 20px;
  margin-bottom: 5rem;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
}

.img-flow {
  width: 80%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  margin: 30px auto;
  display: block;
}

.img-wf {
  width: 49%;
}

.img-mood {
  width: 40%;
  padding-top: 3rem;
  margin-right: 6rem;
}

.img-logo{
  width: 45%;
  margin-left: 5rem;
  margin-top: 4rem;
}

.img-brand{
  width: 7%;
  margin-top: 11rem;
  margin: 11rem 5rem 0 5rem;
}

.img-ab {
  width: 90%;
  display: block;
  margin: auto;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  margin-bottom: 3rem;
}

.icon {
  display: block;
  margin: auto;
  height: 22%;
  padding-top: 5rem;
}


.header-content{
  text-align: left;
  margin: auto;
  width: 60%;
}

.widgets {
  display: flex;
  margin-bottom: 8%;
  max-width: 80%;
  margin: auto;
}

.widget {
  text-align: center;
  position: relative;
  flex: 1;
  margin: 0 30px;
}

.widget ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

.widget h5 {
  font-size: 32px;
}

ol {
  counter-reset: li;
  max-width: 60rem;
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: left;
}

li {
  font-size: 22px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 2.8rem;
  font-color: #333;
}

ol > li {
  display: flex;
  counter-increment: li;
  margin-bottom: 1rem;
}

ol > li::before {
  content: counter(li);
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Nunito Sans';
  background-color: #585BD2;
  border-radius: 50%;
  margin-right: 0.7rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.intro {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.problem {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: flex-start;
  justify-content: space-between;
}

.problem-content {
  padding: 2rem 5rem 2rem 5rem;
  width: 50%;
}

.text-container {
  margin: 0 auto;
  max-width: 800px;
}

/* .section-title {
font-size: 22px;
font-weight: 600;
margin: 20px 0;
text-align: center;
} */
.project-title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #7D7D80;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}

.project-text {
  color: #19191A;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 3rem;
}

.key-insights {
  text-align: center;
}

.key-insights-title {
  font-family: 'IBM Plex Sans', sans-serif !important;
  text-transform: none;
  text-align: center;
  color: #2869E1;
}

.userpersona {
  padding-bottom: 3rem;
}
.userflows {
  margin-bottom: 6rem;
}

.wireframe-section {
  background-color: #F6F8FC;
  padding: 5rem 0;
}

.wireframe-container {
  padding: 1rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;

}

.u-test {
  background-color: #F6F8FC;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.visual {
  background-color: #F6F8FC;
  padding-top: 5rem;
}

.ab-test {
  background-color: white;
  padding-top: 5rem;
}

.ab-text {
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 7rem;
}

.test-title {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.test-text {
  text-align: center !important;
  margin-bottom: 5rem;
}

.rect-survey {
  background-color: #FFFFFF;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 5rem;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 5rem;
  margin: auto;
  margin-bottom: 5rem;
}

.percent-number {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #6C63FF;
}

.percent-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  color: #333;
  font-weight: 300;
  line-height: 30px;
}

.comp-analysis{
  background-color: white;
  padding: 5rem 0;
  margin: 5rem 0;
}

.mood-problem-content {
  padding: 2rem 3rem 2rem 7rem;
  width: 55%;
}

.hifi-2 {
  padding-top: 5rem;
}

/* ABOUT */

  .img-about {
    margin: auto;
    position: initial;
    display: block;
    width: 80%;
  }

  .img-about.lg {
    display: none;
  }

  .about-container {
    padding: 0 15px;
  }

  .about-row {
    margin-top: 0;
    display: block;
  }

  .about-col-1 {
    width: 100%;
  }

  .about-col-2 {
    width: 100%;
  }

  .rightside-content {
    margin: 0;
  }

  .about-h4 {
    border-left: 6px solid #3d8be4;
    padding-left: 1.4rem;
  }

  .rightside-content {
    border-left: 1px solid #455363;
    margin: 2rem 0;
    padding: 0 2rem;
  }

  .rightside-content h4 {
    margin: 25px 0;
  }

  .rightside-content a {
    color: #3d8be4;
  }

  .highlight {
    background-image: linear-gradient(to right, #3d8be440 50%, #3d8be440 50%);
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* HOME PAGE */
  h4 {
    font-size: 18px;
  }

  .mb-2 {
    font-size: 40px;
  }

  .emoji {
    font-size: 70px;
  }

  #intro {
    height: 85%;
  }

  .work-title {
    font-size: 30px;
  }

  .work-subtitle {
    font-size: 20px;
    margin-top: 5px;
  }

  /* NAV BAR */
  .desktop {
    display: none;
  }

  .navbar-nav {
    text-align: center;
  }
  
  .navar > .container {
    padding: 0 1rem;
  }

  .mobile {
    display: contents;
  }

  #myNav {
    display: none;
  }

  .nav-link {
    margin-left: 0;
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .flex-center {
    display: grid;
  }

  .footer-title {
    text-align: center;
  }


  /* NOTELY */
  #notely {
    height: 70%;
    background-size: 600px 500px !important;
    background: url(../img/cover.png) center center fixed;
  }

  .mask-notely {
    height: 90%;
  }

  .title {
    margin-top: 5rem;
  }

  .view h3 {
    line-height: 38px;
  }

  /* SECTION */
  .section {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .widgets {
    display: block;
  }

  .widget h5 {
    font-size: 28px;
    line-height: 0;
  }

  /* PROBLEM SOL */
  .intro {
    display: block;
  }

  .problem {
    display: block;
  }

  .problem-content {
    padding: 1rem;
    width: 340px;
    margin: auto;
  }

  .img-landing {
    width: 75%;
    display: block;
    margin: auto;
    position: initial;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
  }

  .project-title {
    font-size: 22px;
    line-height: 32px;
  }

  .project-text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 1rem;
  }

  .text-container {
    width: 300px;
    padding: 1rem;
  }

  .chapter-title {
    font-size: 28px;
    line-height: 35px;
  }

  .chapter {
    padding-top: 3rem;
    margin-left: 2rem;
    margin: 1rem auto 3rem 0;
  }

  .rect-survey {
    width: 300px;
  }

  li {
    font-size: 18px;
    line-height: 30px;
  }

  .img-container {
    margin-bottom: 2rem;
  }
  .img-comp {
    width: 300px;
    margin-bottom: .5rem;
  }
  .img-persona {
    width: 300px;
    margin: 1rem auto;
  }

  .img-flow {
    width: 300px;
    margin: 1rem auto;
  }

  .img-wf {
    width: 340px;
  }

  .wireframe-section {
    padding: 2rem 0;
  }

  .wireframe-container {
    padding: 0;
  }

  .u-test {
    padding: 0 0 2rem 0;
  }

  .mood-problem-content {
    width: 300px;
    margin: auto;
    padding: 1rem;
  }

  .img-mood {
    display: block;
    width: 300px;
    margin: auto;
    padding: 0;
  }

  .img-logo {
    display: block;
    width: 300px;
    margin: auto;
  }

  .img-brand {
    display: block;
    width: 15%;
    margin: 0 auto;

  }

  .hifi {
    padding: 1rem;
  }

  .ab-test {
    padding-top: 0;
  }

  .ab-text {
    padding-bottom: 5rem;
  }

  .img-ab {
    width: 300px;
    margin-bottom: 1rem;
  }

  .test-title {
    line-height: 30px;
    margin-bottom: 1rem;
  }

  .learning {
    background-color: #F6F8FC;
    padding: 1rem 0;
    margin: 1rem 0;
  }




/* ABOUT */

  .img-about {
    margin: auto;
    position: initial;
    display: block;
    width: 80%;
  }

  .img-about.lg {
    display: none;
  }
  
  .about-container {
    padding: 1rem 2rem;
  }

  .about-row {
    margin-top: 0;
    display: block;
  }

  .about-col-1 {
    width: 100%;
  }

  .about-col-2 {
    width: 100%;
  }
  
  .about-group p {
    line-height: 25px;
  }

  .rightside-content {
    margin: 0;
  }

  .footer {
    background-color: white;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    z-index: 1;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* NAV */
  .mobile {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    padding-right: 6px;
    padding-left: 6px;
  }

  /* HOME PAGE */
  h4 {
    font-size: 20px;
  }

  .mb-2 {
    font-size: 40px;
  }

  .emoji {
    font-size: 70px;
  }

  .my-4 {
    width: 100%;
  }

  .flex-center {
    display: grid;
  }

  .footer-title {
    text-align: center;
  }

  #top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    color: white;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(88, 91, 210, .50);
    border: none;

  }

  #top:hover{
    background-color: rgba(88, 91, 210, .80);
  }

  /* NOTELY */
  .widgets {
    width: 520px;
  }
  .widget h5 {
    font-size: 20px;
    line-height: 30px;
  }
  li {
    font-size: 17px;
    line-height:
  }

  .problem {
    display: block;
  }

  .problem-content {
    padding: 1rem;
    width: 540px;
    margin: auto;
  }

  .img-landing {
    width: 540px;
    display: block;
    margin: auto;
    position: initial;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
  }

  .project-title {
    font-size: 24px;
    line-height: 32px;
  }

  .project-text {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 1rem;
  }

  .text-container {
    width: 540px;
    padding: 1rem;
  }

  .chapter-title {
    font-size: 30px;
    line-height: 35px;
  }

  .chapter {
    padding-top: 3rem;
    margin-left: 2rem;
    margin: 1rem auto 3rem 0;
  }

  .rect-survey {
    width: 540px;
  }

  .img-container {
    margin-bottom: 2rem;
  }
  .img-comp {
    width: 340px;
    margin-bottom: .5rem;
  }

  .img-persona {
    width: 340px;
    margin: 1rem auto;
  }

  .img-flow {
    width: 540px;
    margin: 1rem auto;
  }

  .img-wf {
    width: 540px;
  }

  .wireframe-section {
    padding: 2rem 0;
  }

  .wireframe-container {
    padding: 0;
  }

  .u-test {
    padding: 0 0 2rem 0;
  }

  .mood-problem-content {
    width: 540px;
    margin: auto;
    padding: 1rem;
  }

  .img-mood {
    display: block;
    width: 540px;
    margin: auto;
    padding: 0;
  }

  .img-logo {
    display: block;
    width: 540px;
    margin: auto;
  }

  .img-brand {
    display: block;
    width: 15%;
    margin: 0 auto;

  }

  .hifi {
    padding: 1rem;
  }

  .ab-test {
    padding-top: 0;
  }

  .ab-text {
    padding-bottom: 5rem;
  }

  .img-ab {
    width: 540px;
    margin-bottom: 1rem;
  }

  .test-title {
    line-height: 30px;
    margin-bottom: 1rem;
  }

  .learning {
    background-color: #F6F8FC;
    padding: 2rem 0;
    margin: 2rem 0;
  }


  /* ABOUT */

    .img-about {
      margin: auto;
      position: initial;
      display: block;
      width: 80%;
    }

    .img-about.lg {
      display: none;
    }

    .about-container {
      padding: 0 15px;
    }

    .about-row {
      margin-top: 0;
      display: block;
    }

    .about-col-1 {
      width: 100%;
    }

    .about-col-2 {
      width: 100%;
    }

    .rightside-content {
      margin: 0;
    }

  .img-about.sm {
    display: block;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* HOME PAGE */
  h4 {
    font-size: 1.5rem;
  }

  .mb-2 {
    font-size: 50px;
  }

  .emoji {
    font-size: 100px;
  }

  .my-4 {
    width: 70%;
  }

  .mobile {
    display: none;
  }


  /* ABOUT SECTION */
  .img-about {
    width: 90%;
    position: relative;
    margin-top: 5rem;
  }

  .img-about.sm {
    display: none;
  }

  .img-about.lg {
    display: block;
  }

  .h3 {
    margin-bottom: 8rem;
  }
  .about-container {
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 5rem;
  }

  .about-group {
    font-size: 18px;
    line-height: 32px;
  }

  .about-row {
    margin-top: 3rem;
    display: inline-flex;
  }

  .about-col-1 {
    float: none;
    width: 90%;
    margin: auto;
  }

  .about-col-2 {
    width: 50%;
    float: left;
    padding: 0 2rem;
  }

  .about-group {
    margin-top: 3rem;
  }





  .footer-title {
    font-size: 20px;
  }

  .footer-li {
    font-size: 26px;
  }

  .cc {
    font-size: 15px;
  }

}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 992px) {

    /* NOTELY */
    .widgets {
      width: 800px;
    }
    .widget h5 {
      font-size: 26px;
      line-height: 30px;
    }
    li {
      font-size: 20px;
    }

    .intro {
      width: 800px;
      padding-bottom: 8rem;
    }

    .problem {
      display: flex;
      flex-direction: row;
      margin: 0;
      align-items: flex-start;
      justify-content: space-between;
    }

    .problem-content {
      padding: 1rem;
      width: 50%;
      margin: 0;
    }

    .img-landing {
      max-width: 500px;
      min-width: 300px;
      width: 36%;
      margin-right: 5rem;
      margin-top: 5rem;
      position: absolute;
      display: block;
      right: 1rem;
      box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    }

    .project-title {
      font-size: 24px;
      line-height: 32px;
    }

    .project-text {
      font-size: 20px;
      line-height: 31px;
      margin-bottom: 1rem;
    }

    .text-container {
      width: 800px;
      margin: 0 auto;
    }

    .chapter-title {
      font-size: 30px;
      line-height: 35px;
    }

    .chapter {
      margin: 3rem auto 0 5rem;
      padding-top: 5rem;
    }

    .rect-survey {
      width: 800px;
    }

    .img-container {
      margin-bottom: 2rem;
    }
    .img-comp {
      width: 27%;
      margin-bottom: 2rem;
    }

    .img-persona {
      width: 40%;
      margin: 3rem auto;
    }

    .img-flow {
      width: 80%;
      margin: 3rem auto;
    }

    .img-wf {
      width: 49%;
    }

    .wireframe-section {
      padding: 2rem 0;
    }

    .wireframe-container {
      padding: 0;
    }

    .u-test {
      padding: 0 0 2rem 0;
    }

    .mood-problem-content {
      width: 540px;
      margin: auto;
      padding: 1rem;
    }

    .img-mood {
      display: initial;
      width: 40%;
      margin: 6rem 2rem 2rem 3rem;
      padding: 0;
    }

    .img-logo {
      display: initial;
      width: 45%;
      margin: 5rem 0 0 0;
    }

    .img-brand {
      display: intial;
      width: 7%;
      margin: 6rem auto;

    }

    .hifi {
      padding: 1rem;
    }

    .ab-test {
      padding-top: 0;
    }

    .ab-text {
      padding-bottom: 5rem;
    }

    .img-ab {
      width: 90%;
      margin-bottom: 3rem;
    }

    .test-title {
      line-height: 30px;
      margin-bottom: 1rem;
    }



  /* ABOUT */

  .footer-title {
    font-size: 22px;
  }

  .footer-li {
    font-size: 30px;
  }





}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /* ABOUT */
  .about-col-1 {
    width: 70%;
  }


}

/* Screens smaller than 900px */
@media only screen and (max-width: 900px){

  .work-container {
    flex-direction: column;
    height: 100%;

  }

  .work-preview {
    padding-top: 58%;
    height: 0;
  }

  .work-container .work-preview img {
    top: 0;
    left: 0;
  }


  .about-container {
    width: 100%;
  }

}

/* Extra extra large devices (large desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  
  
  /* NOTELY */
  .img-comp {
    width: 22%;
  }
  
  .img-persona {
    width: 30%;
  }
  
  .img-flow {
    width: 65%;
  }

  /* ABOUT */
  .about-col-1 {
    width: 70%;
  }


}
