.hero {
  background: url(../img/veritystream/veritycover.png);
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.btn-primary {
  background-color: #0071bc !important;
}

.section {
  width: 800px;
  margin: auto;
  background-color: white;
}

#top {
  background-color: rgba(0, 113, 188, .50);
}

#top:hover{
  background-color: rgba(0, 113, 188, .80);
}

.project-title {
  display: block;
  padding-top: 3rem;
}

.spacer {
  padding-bottom: 7rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero {
    height: 38%;
    background-size: 700px auto;
    top: -7px;
  }

  .section {
    width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
