.hero {
  background: url(../img/whova/whovacover.png);
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.btn-primary {
  background-color: #0071bc !important;
}

#top {
  background-color: rgba(0, 113, 188, .50);
}

#top:hover{
  background-color: rgba(0, 113, 188, .80);
}

.spacer {
  padding-bottom: 7rem;
}

.discovery {
  padding-bottom: 5em;
}

.final {
  background-color: #F6F8FC;
}

.img-txt {
  padding: 1em 0 4em 0;
  font-style: italic;
  text-align: center;
}

.img-sm{
  width: 500px;
}

.userflows {
  margin-bottom: 0;
}

.final {
  padding-bottom: 2em;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 38%;
    background-size: 700px auto;
    top: -7px;
  }

  .intro {
    padding-top: 0;
  }

  .problem {
    width: 300px;
    margin: auto;
  }

  .chapter {
    padding-top: 2em;
  }

  .img-landing-whova {
    width: 300px;
  }

  .img {
    display: block;
    margin: auto;
    width: 300px;
  }

  .img-wf {
    display: block;
    margin: auto;
  }

  .img-sm {
    width: 300px;
  }

  .img-txt {
    padding: 1em 1em 2em 1em;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .problem-content-whova {
    width: 540px;
  }
  .img-landing-whova {
    width: 540px;
  }
  .img {
    width: 540px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
  }
}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 992px) {
  .problem-content-whova {
    width: 800px;
  }

  .img-landing-whova {
    width: 800px;
    padding-top: 2em;
  }

  .img {
    width: 800px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
  }

  .img-wf {
    display: block;
    margin: auto;
    width: 1000px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
