body {
  padding-bottom: 5rem;
  font-size: 17px;
  line-height: 27px;
}

header {
  justify-content: center;
  text-align: center;
  margin-top: 65px !important;
}

#header-home{
  background: url(../images/drive.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

#header-home h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.slogan {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 1.6rem;
}

main {
  /* max-width: 60%; */
  margin: auto;
}

.section {
  background-color: #f8fafa;
  padding-bottom: 5rem;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;;
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
}

.primary-nav {
  background-color: #424242;
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
}

.nav-items {
  color: #F3E8CB;
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  float: right;
  padding: 20px 2%;
}

.nav-items a {
  color: #F3E8CB;
}

.main-button {
  display: block;
  margin: 20px auto;
}

.img-responsive {
  width: 70%;
}

.m-tb-40 {
  display: block;
  margin: 40px auto;
}

.img-survey {
  display: inline-block;
  width: 40%;
  margin: 40px auto;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
}

.img-container {
  text-align: center;
}

.img-comp {
  width: 20%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
}

.img-flow {
  width: 100%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  margin: 20px;
}

.img-wf {
  width: 49%;
}

.img-brand{
  width: 10%;
}

.img-ab {
  width: 90%;
  display: block;
  margin: auto;
}

.icon {
  display: block;
  margin: auto;
  height: 100px;
  padding-top: 5rem;
}


.header-content{
  text-align: left;
  margin: auto;
  width: 60%;
}

.wireframe-container {
  padding: 1rem;
  background-color: #f8fafa;
}

.widgets {
  display: flex;
  margin-bottom: 8%;
  max-width: 60%;
  margin: auto;
}

.widget {
  text-align: center;
  position: relative;
  flex: 1;
}

.widget-icon {
  height: 50px;
}

.text-container {
  margin: 0 auto;
  max-width: 60%;
}

.section-title {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}
.project-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #7D7D80;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 30px;
  display: inline-block;
}

.project-text {
  color: #19191A;
  margin-bottom: 20px;
}

.ab-text {
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.test-title {
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  margin-top: 60px;
}

.test-text {
  width: 55%;
  display: block;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
